# python basics:

In [ ]:
# day objectives:
- python comments
- variables
- keywords
- datatypes
- Type conversions
- userinputs (dynamic input)
- operators

In [ ]:
# python comments:
- comment is not a part of the program,but it enhances the interactivity of the program
  and makes the program readable.
- python supports 2 types of comments:
    1)single line comment #
    2)multiline comment  """....."""

In [3]:
#single line comment
"""
multi
line
comment
"""
print("hello")

hello

In [4]:
print('hello') #in python single quotes and double quotes treated as same.

hello

In [5]:
print("""hello""")

hello

In [6]:
print("python's workshop")

python's workshop

In [7]:
print("python"s workshop")

SyntaxError: invalid syntax (<ipython-input-7-00077d03bf48>, line 1)

In [8]:
print('python"s workshop')

python"s workshop

In [9]:
print('python's workshop')

SyntaxError: invalid syntax (<ipython-input-9-e2612bf63397>, line 1)

In [ ]:
# python variables:
- variable is a name which is used to refer memory location.
  variable also known as identifier and used to hold values.
- rules for variable:
    1)in python,we dont need to specify the type of variable,
     beacause python is smart enough to get variable type.
    2)variable names can be group of both letters and digits,
      but they have to begin with letter or an underscore.
    3)keywords can not be used as variable names.

In [10]:
hello=10 #letter
print(hello)

10

In [11]:
_hello=20 #underscore
print(_hello)

20

In [12]:
1hello=30 # we can't start variable name with number
print(1hello)

SyntaxError: invalid syntax (<ipython-input-12-574894aef0cc>, line 1)

In [13]:
@hello=40 # we can't start variable name with special charcters
print(@hello)

SyntaxError: invalid syntax (<ipython-input-13-4dcace93e738>, line 1)

In [15]:
n123=50
print(n123)

50

In [16]:
N123=56.90
print(N123)

56.9

In [19]:
Today='python'
print(Today)

python

In [ ]:
# keywords:
- keywords are the reserved words
- we cannot use a keyword as a variable name,functionname or any other identifies
- they are used to define the syntax and structures of the python language.
- in python,keywords are case senstive.

In [20]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [21]:
else=89 # keywords can not be used as a varible names
print(else)

SyntaxError: invalid syntax (<ipython-input-21-4fb646d7ee42>, line 1)

In [22]:
print("hello")

hello

In [23]:
hello=30
print(hello)
print("hello")

30
hello

In [ ]:
# data types:
- type of the data
1)int
2)float
3)string--->str

In [25]:
_=20
print(_)

20

In [26]:
n=10
print(n)
print(type(n))

10
<class 'int'>

In [28]:
s="python"
print(s)
print(type(s))

python
<class 'str'>

In [29]:
f=56.78
print(f)
print(type(f))

56.78
<class 'float'>

In [31]:
a="python"
b=78
c=90.67
print(a)
print(b)
print(c)

python
78
90.67

In [32]:
a="python"
b=78
c=90.67
print(a,b,c)

python 78 90.67

In [33]:
a="python",b=78,c=90.67
print(a,b,c)

SyntaxError: can't assign to literal (<ipython-input-33-e6308d1edf26>, line 1)

In [35]:
a,b,c="python",78,90.67
print(a,b,c)
print(type(a))
print(type(b))
print(type(c))

python 78 90.67
<class 'str'>
<class 'int'>
<class 'float'>

In [36]:
a,b,c="python",78,90.67
print(a,b,c)
print(type(a,b,c))

python 78 90.67

TypeError: type.__new__() argument 2 must be tuple, not int

In [37]:
a,b,c=10
print(a,b,c)

TypeError: cannot unpack non-iterable int object

In [39]:
a=b=c=10
print(a,b,c)

10 10 10

In [40]:
a=a+1
print(a)

11

In [41]:
print(a,b,c)

11 10 10

In [43]:
#swap case
a=10
b=20
a,b=b,a #a,b=20,10
print(a,b)

20 10

In [49]:
n="76"
type(n)

str

In [50]:
print(type(n))

<class 'str'>

In [47]:
a=10
b=20
a
b

20

In [48]:
a=10
b=20
print(a)
print(b)

10
20

In [51]:
s="78"
print(s)
print(type(s))
print(s+1)----->we can't concatinate string with integer

78
<class 'str'>

TypeError: can only concatenate str (not "int") to str

In [52]:
s="78"
print(s+"1")

781

In [53]:
s=78
print(s+1)

79

In [ ]:
str+int----->it is not acceptable

In [ ]:
"78"+1----->"78"+"1"----->it is acceptable
"78"+1----->78+1---->it is acceptable

In [54]:
s="python"
print(s+"workshop")

pythonworkshop

In [57]:
#welcome pavani
s="pavani"
print("welcome",s)
print("welcome"+s)
print("welcome ",s)

welcome pavani
welcomepavani
welcome  pavani

In [ ]:
# type conversions
integer---->int(variable name)
float----->float(variable name)
string----->str(variablename)

In [58]:
n="78"
s=1
print(type(n))
print(type(s))
print(n+s)

<class 'str'>
<class 'int'>

In [59]:
#int to str
s=1
print(s)
print(type(s))
s1=str(s) #int to str
print(s1)
print(type(s1))

1
<class 'int'>
1
<class 'str'>

In [61]:
#int to str
n="78"
s=1
print(n+str(s))

781

In [ ]:
cntrl+c------>copy
cntrl+v------>paste

In [62]:
#str to int
n="78" #---->string numbers only we can convert into int
s=1
print(int(n)+s)

79

In [63]:
n="python"
s=1
print(int(n)+s)

ValueError: invalid literal for int() with base 10: 'python'

In [64]:
#int to float
n=10
print(float(n))

10.0

In [68]:
#float to int and string
n=90.78
print(int(n))
n1=str(n)
print(type(n1))
print(n1)

90
<class 'str'>
90.78

In [69]:
n=89.07
print(type(str(n)))

<class 'str'>

In [ ]:
"number"--->we can convert into int type
"word"----->we can't convert into int type
number---->we can convert into string,float
float----->we can convert into int,string

In [ ]:
# type conversions
integer---->int(variable name)
float----->float(variable name)
string----->str(variablename)

In [ ]:
#userinputs:
- getting input from user is called userinput or dynamic reading

In [ ]:
#static inputs
n=10
s="python"
f=89.07

In [ ]:
#dynamic input
integer-----> int(input()) #(only int)
float------->float(input())
str-------->str(input()) or input()  #default string (int,float,string)

In [75]:
#default string format
s=input("enter a string:")
print(s)
print(type(s))

enter a string:56
56
<class 'str'>

In [76]:
s=str(input("enter a string:"))
print(s)
print(type(s))

enter a string:python
python
<class 'str'>

In [ ]:
# it is accepts all int,float,string types
# it treated "10","78.90","python"

In [77]:
# int userinput
n=int(input("enter a number:"))
print(n)
print(type(n))

enter a number:23
23
<class 'int'>

In [78]:
n=int(input("enter a number:"))
print(n)
print(type(n))

enter a number:python

ValueError: invalid literal for int() with base 10: 'python'

In [79]:
n=int(input("enter a number:"))
print(n)
print(type(n))

enter a number:78.90

ValueError: invalid literal for int() with base 10: '78.90'

In [ ]:
int(input())----->only accepts int values as input
# it is accepts only int values

In [80]:
#float userinput
f=float(input("enter a number:"))
print(f)
print(type(f))

enter a number:67.89
67.89
<class 'float'>

In [81]:
f=float(input("enter a number:"))
print(f)
print(type(f))

enter a number:56
56.0
<class 'float'>

In [83]:
f=float(input("enter a number:"))
print(f)
print(type(f))

enter a number:python

ValueError: could not convert string to float: 'python'

In [ ]:
float(input())----->only accepts int,float
# it is accepts only int,float values
# it is not accepts the string type

In [ ]:
#input() or str(input())------>int,float,str
#int(input())----------------->only int
#float(input())--------------->int,float

In [84]:
#string userinput converts into int
n=input("enter:")
print(n)
print(type(n))
n1=int(n)
print(n1)
print(type(n1))

enter:89
89
<class 'str'>
89
<class 'int'>

In [87]:
n=int(input("enter a number:"))
print(type(n))
n1=str(n)
print(type(n1))
n2=float(n)
print(type(n2))

enter a number:45
<class 'int'>
<class 'str'>
<class 'float'>

In [ ]:
#task
2 userinputs--->name,clgname
o/p: welcome to clgname name

In [88]:
s=input()

python

In [89]:
print(input())

23
23

In [90]:
input()

23

'23'

In [91]:
print(n=10)

TypeError: 'n' is an invalid keyword argument for print()

In [94]:
s=print("python")

python

In [96]:
hs4fhg=89
print(hs4fhg)

89