In [24]:
# task 1
s=input("enter a string:")
s1=s.replace(' ','')
print(s1)
print(s1.capitalize())

enter a string:A P S S D C
APSSDC
Apssdc

In [28]:
#task2
name=input("enter name:")
a,b=name.split()
#print(a)
print(a[0].upper()+". "+b.capitalize())

enter name:python workshop
P. Workshop

In [29]:
#task2
name=input("enter name:")
a,b,c=name.split()
#print(a)
print(a[0].upper()+". "+b.capitalize(),c.capitalize())

enter name:puvvula ambika pavani
P. Ambika Pavani

In [15]:
#task3:
a=input("enter:")
vowels="a","e","i","o","u"
for i in a.split(): #apssdc #hello #pavani....
    if i.endswith(vowels):
        break
    else:
        print(i)

enter:apssdc hello pavani ambika vanitha
apssdc

In [23]:
#task 4:
a=input("enter:")
c=s=d=0
for i in range(len(a)): #P #y.....
    if a[i].isupper():
        c+=1 #c=c+1
    elif a[i].islower():
        s+=1
    elif a[i].isdigit():
        d+=1
print("Capitals count:",c)
print("Smaller count:",s)
print("Digits count:",d)

enter:Python Workshop 848353
Capitals count: 2
Smaller count: 12
Digits count: 6

In [30]:
s="Python Workshop 848353"
len(s)

22

In [ ]:
# data structures:
- datastructure are a way of organizing and storing data.
- so that they can be accessed and worked with efficiently

In [ ]:
# python datastructures:
1) list
2) tuple
3) dictionary--->dict
4) set

In [ ]:
# lists:
- a list is a datastructure that holds an ordered collection of items.
- list is a collection which is ordered,changable and allows duplicates.
- these are mutable (changable)
- you can recognize lists by their square brackets []
- it supports different data types.

In [32]:
# empty list
li=[]
print(li)
print(type(li))

[]
<class 'list'>

In [33]:
# integer list (unordered)
li=[12,1,3,24,5,18,5]
print(li)
print(type(li))

[12, 1, 3, 24, 5, 18, 5]
<class 'list'>

In [34]:
# integer list (ordered)
li=[1,2,3,4,5,6,7]
print(li)
print(type(li))

[1, 2, 3, 4, 5, 6, 7]
<class 'list'>

In [35]:
#strings(ordered)
li=['a','b','c','d']
print(li)
print(type(li))

['a', 'b', 'c', 'd']
<class 'list'>

In [36]:
#strings(unordered)
li=['a','c','b','d']
print(li)
print(type(li))

['a', 'c', 'b', 'd']
<class 'list'>

In [37]:
#float
li=[23.56,78.90,66.56]
print(li)
print(type(li))

[23.56, 78.9, 66.56]
<class 'list'>

In [38]:
#multiple datatype elements
a=[45,'python',90.67]
print(a)
print(type(a))

[45, 'python', 90.67]
<class 'list'>

In [39]:
# duplicates allow
a=[45,'python',90.67,45,45,45,45]
print(a)
print(type(a))

[45, 'python', 90.67, 45, 45, 45, 45]
<class 'list'>

In [ ]:
[start:end+1:step+1]--->positive
[end:start-1,step-1]---->negtive

In [45]:
# list supports indexing and slicing
print(a[0])
print(a[1:-1])
print(a[1:6])
print(a[::2])
print(a[::-1])

45
['python', 90.67, 45, 45, 45]
['python', 90.67, 45, 45, 45]
[45, 90.67, 45, 45]
[45, 45, 45, 45, 90.67, 'python', 45]

In [48]:
#list is mutable (changable)
print(a)
a[4]=78
print(a)

[45, 'python', 90.67, 45, 45, 45, 45]
[45, 'python', 90.67, 45, 78, 45, 45]

In [54]:
# some builtin functions:
li=[12,25,11,10,3,5,10]
print(type(li))
print(len(li))
print(max(li))
print(min(li))
print(sum(li))
print(sorted(li))

<class 'list'>
7
25
3
76
[3, 5, 10, 10, 11, 12, 25]

In [55]:
li=['p','y','t','h','o','n']
print(type(li))
print(len(li))
print(max(li))
print(min(li))
print(sorted(li)) #alabetic order
print(sum(li)) # sum not supported here

<class 'list'>
6
y
h
['h', 'n', 'o', 'p', 't', 'y']

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [67]:
number=[]
names=['pavani','ambika','vanitha',67]
rollno=[23,4,5,67,78]
print(all(number)) #list based
print(all(names))  #list based
print(any(number)) #based on elements
print(any(names))  #based on elements
print(list(enumerate(number)))
print(list(enumerate(names))) #with index values
print(list(zip(number,names)))
print(list(zip(rollno,names))) #pairs

True
True
False
True
[]
[(0, 'pavani'), (1, 'ambika'), (2, 'vanitha'), (3, 67)]
[]
[(23, 'pavani'), (4, 'ambika'), (5, 'vanitha'), (67, 67)]

In [69]:
#concatination
li1=[1,2,3,4,5]
li2=[5,6,7,8,9]
print(li1+li2)

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9]

In [70]:
#replication
print(li1*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [71]:
print(li1*li2)

TypeError: can't multiply sequence by non-int of type 'list'

In [73]:
li1=['python']
li2=['workshop']
print(li1+li2)

['python', 'workshop']

In [74]:
li1*2

['python', 'python']

In [75]:
li1*li2

TypeError: can't multiply sequence by non-int of type 'list'

In [76]:
#nested list
li=[23,14,15,[45,10,4],90]
print(li)
print(type(li))

[23, 14, 15, [45, 10, 4], 90]
<class 'list'>

In [79]:
print(li[2])
print(li[3])
print(li[3][1])

15
[45, 10, 4]
10

In [84]:
print(min(li[3]))
print(min(li))

4

TypeError: '<' not supported between instances of 'list' and 'int'

In [81]:
print(dir(list),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [97]:
# append the elements in end position
li=[3,34,10,56,23,90]
li.append(40)#only one element
li.append([50,67,89])
print(li)

[3, 34, 10, 56, 23, 90, 40, [50, 67, 89]]

In [96]:
# inserts the elements in particular position
li=[3,34,10,56,23,90]
li.insert(3,50)
li.insert(3,[40,89,90]) # only 2 arguments (position,value)
print(li)

[3, 34, 10, [40, 89, 90], 50, 56, 23, 90]

In [103]:
li=[3,34,10,56,23,90] #last element pops and using indexing pops
li.pop()  #90
li.pop(3) #56 #only one arument
print(li)

[3, 34, 10, 23]

In [107]:
li=[3,34,10,56,23,90] # value removes
li.remove(23)  #one argument #value based
print(li)

[3, 34, 10, 56, 90]

In [109]:
li=[3,34,10,56,23,90]
li.reverse()
print(li)

[90, 23, 56, 10, 34, 3]

In [114]:
li=[3,34,10,56,23,90,90,90]
print(li.count(90))
print(li.index(90))
li.sort() #ascending order
print(li)
li.sort(reverse=True) #desecending order
print(li)

3
5
[3, 10, 23, 34, 56, 90, 90, 90]
[90, 90, 90, 56, 34, 23, 10, 3]

In [115]:
aa=[1,2,3,4,74,6]
aa.sort()
aa.reverse()
print(" Descending order: ",aa)

 Descending order:  [74, 6, 4, 3, 2, 1]

In [116]:
aa=[1,2,3,4,74,6]
aa.sort(reverse=True)
print(" Descending order: ",aa)

 Descending order:  [74, 6, 4, 3, 2, 1]

In [124]:
aa=[1,2,3,4,74,6]
print(aa.sort(reverse=True))

None

In [122]:
def add(a,b):
    print(a+b)
    print(a*b)
a=add(20,70)
print(a)

90
1400
None

In [123]:
def add(a,b):
    return a+b
    print(a*b)
a=add(20,70)
print(a)

90

In [125]:
li1=[12,13,14,10,80]
li2=[34,56,78,23,10]
li1.extend(li2)
print(li1)
print(li2)

[12, 13, 14, 10, 80, 34, 56, 78, 23, 10]
[34, 56, 78, 23, 10]

In [126]:
li1=[12,13,14,10,80]
li2=[34,56,78,23,10]
li2.extend(li1)
print(li1)
print(li2)

[12, 13, 14, 10, 80]
[34, 56, 78, 23, 10, 12, 13, 14, 10, 80]

In [ ]:
=--->assignment
==--->comparision

In [129]:
#assignment  #both changes
li1=[12,13,14,10,80]
cli1=li1
print(li1)
print(cli1)
li1.append(90)
print(li1)
print(cli1)

[12, 13, 14, 10, 80]
[12, 13, 14, 10, 80]
[12, 13, 14, 10, 80, 90]
[12, 13, 14, 10, 80, 90]

In [130]:
#copy   #not both chnaged
li1=[12,13,14,10,80]
cli1=li1.copy()
print(li1)
print(cli1)
li1.append(90)
print(li1)
print(cli1)

[12, 13, 14, 10, 80]
[12, 13, 14, 10, 80]
[12, 13, 14, 10, 80, 90]
[12, 13, 14, 10, 80]

In [131]:
li1=[12,13,14,10,80]
li1.clear() #it clears values
li1

[]

In [132]:
li1=[12,13,14,10,80]
del li1
print(li1)

NameError: name 'li1' is not defined

In [ ]:
# task 1:
li=[12,12,23,45,13,20,23]
duplicates remove
o/p: [12,23,45,13,20]

# task 2
li=[12,12,23,45,13,20,23]
unique elements
o/p: [45,13,20]

In [ ]:
# tuple:
- ()
- it is immutable

In [133]:
t=()
print(t)
print(type(t))

()
<class 'tuple'>

In [134]:
t=(23,67.89,'python')
print(t)
print(type(t))

(23, 67.89, 'python')
<class 'tuple'>

In [135]:
t=(23,67.89,'python',23,23,23)
print(t)
print(type(t))

(23, 67.89, 'python', 23, 23, 23)
<class 'tuple'>

In [137]:
t[2]='workshop' # tuple immutable
print(t)

TypeError: 'tuple' object does not support item assignment

In [138]:
print(dir(tuple),end=" ")

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [139]:
t=(34,34,56,12,89)
t.count(34)

2

In [140]:
t.index(34)

0

In [144]:
#tuple packing and unpacking
t=(56,78,90) #tuple packing
a,b,c=t #tuple unpacking
print(a)
print(b)
print(c)
print(t)

56
78
90
(56, 78, 90)

In [145]:
#tuple to list
t=(23,24,24,56,67)
print(type(t))
li=list(t)
print(li)
print(type(li))

<class 'tuple'>
[23, 24, 24, 56, 67]
<class 'list'>

In [146]:
#list to tuple
li=[23,4,56,789,12]
print(type(li))
t=tuple(li)
print(t)
print(type(t))

<class 'list'>
(23, 4, 56, 789, 12)
<class 'tuple'>

In [149]:
#nested tuple
t=(23,4,567,(67,89,90),12)
print(t)
print(type(t))
print(t[3][1])

(23, 4, 567, (67, 89, 90), 12)
<class 'tuple'>
89

In [ ]:
# task 1:
li=[12,12,23,45,13,20,23]
duplicates remove
o/p: [12,23,45,13,20]

# task 2
li=[12,12,23,45,13,20,23]
unique elements
o/p: [45,13,20]
    
#task 3:
in builtin functions tuple worked or not